<?xml version="1.0"?>
<config>
    <modules>
        <Cotya_PerformanceFixes>
            <version>1.0.0</version>
        </Cotya_PerformanceFixes>
    </modules>
    <global>
        <blocks>
            <cotya_performancefixes>
                <class>Cotya_PerformanceFixes_Block</class>
            </cotya_performancefixes>
        </blocks>
        <helpers>
            <cotya_performancefixes>
                <class>Cotya_PerformanceFixes_Helper</class>
            </cotya_performancefixes>
        </helpers>
        <models>
            <cotya_performancefixes>
                <class>Cotya_PerformanceFixes_Model</class>
            </cotya_performancefixes>
        </models>
        <resources>
            <cotya_performancefixes_setup>
                <setup>
                    <module>Cotya_PerformanceFixes</module>
                </setup>
            </cotya_performancefixes_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <log>
                        <type>disabled</type>
                    </log>
                </observers>
            </controller_action_postdispatch>
            <catalog_controller_product_view>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </catalog_controller_product_view>
            <sales_quote_item_save_before>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </sales_quote_item_save_before>
            <wishlist_add_product>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </wishlist_add_product>
            <controller_action_predispatch>
                <observers>
                    <log>
                        <type>disabled</type>
                    </log>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <log>
                        <type>disabled</type>
                    </log>
                </observers>
            </controller_action_postdispatch>
            <!--
            <catalog_block_product_list_collection>
                <observers>
                    <review>
                        <type>disabled</type>
                    </review>
                </observers>
            </catalog_block_product_list_collection>
            -->
            <controller_action_layout_load_before>
                <observers>
                    <cotya_performancefixes_layout_cache>
                        <class>Cotya_PerformanceFixes_Model_Observer</class>
                        <method>optimizeLayoutCaching</method>
                    </cotya_performancefixes_layout_cache>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
</config>